:root {
	--AppPadding: 7px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

#AppList {
	padding: 2px;
}

.AppListItem {
	list-style: none;
}

.AppListItemForm {
	display: flex;
}

.AppListItemField, .AppListItemButton {
	padding: var(--AppPadding);
	border: 1px solid black;
	border-radius: var(--AppPadding);

	margin: 0;
}

#AppCreateField, .AppCreateButton {
	font-size: 12px;
	font-weight: bold;
}

.AppListItemField {
	border-right: none;
	border-radius: var(--AppPadding) 0 0 var(--AppPadding);
}

.AppListItemButton {
	border-radius: 0 var(--AppPadding) var(--AppPadding) 0;
	
	background: black;
	background: lightgray;
}
